.item {
  width: 278px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
}

.item p {
  margin: 0;
}

.txt,
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  flex-direction: column;
}

.edit {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.confirm {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
