.item {
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border: 1px solid black;
  border-radius: 4px;
  padding: 4px 8px;
}

.item p {
  margin: 0;
}
